
/*1. RESTEO WEB*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /*Efecto Wow 1 : Fondo degradado*/
    background: linear-gradient(135deg, #bb832f 0%, hsl(177, 53%, 51%) 100%);
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*La tarjeta blanca flotante*/
.form-container{
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 25px 30px rgba(0,0,0,0.3);
    width: 450px; /*Ancho fijo para el ordenador*/
    text-align: center;
}

.form-container h2{
    margin-bottom: 10px;
    color: #333;
}

.form-container p{
    margin-bottom: 25px;
    color: #666;
}

/*Maquetación de inputs (elimina los bordes feos)*/

.input-group{
    margin-bottom: 20px;
    text-align: left;
}

.input-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input{
    width: 100%;
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 8px;
    outline: none; /*Magia - quita el borde azul nativo*/
    transition: 0.3s;
}

/*Efecto al hacer click al escribir*/
.input-group input:focus{
    border-color: #2fbb9a;
}

/*Efecto Wow 2. El botón Premium*/
.btn-enviar{
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #bb832f 0%, hsl(177, 53%, 51%) 100%);
    color: #333;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-enviar:hover{
    color: #333;
    background: linear-gradient(135deg, #bb832f 0%, hsl(177, 53%, 51%) 100%);
    transform: scale(1.02); /*EL boton crece un poco*/
}

/*2. EL SECRETO : RESPONSIVE DESING (Móviles)*/
@media (max-width: 500px){
    .form-container{
        width: 100%; /*Ocupa todo el ancho disponible del móvil*/
        padding: 20px; /*Reduce los margenes internos*/
    }
    body{
        background: #333; /*Quitamos el efecto degradado para mejorar el rendimiento*/
    }
}